page-customer-list {

  $colors: (
    primary:     #387ef5,
    secondary:   #006B2E,
    danger:      #f53d3d,
    light:       #f4f4f4,
    dark:        #222,
    favorite:    #69BB7B,
    navganado:   #32db64,
  );
}
