page-register {
  .splash-bg {
    position: relative;
    background: url('../assets/img/ganadoregister.png') no-repeat transparent;
    background-size: cover;
    height: 25%;
  }
  .ion-pad{
    padding: 24px;
  }
  .centrado{
  text-align: center;
  }
}
